.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authTabs {
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;
}

.authTab {
  cursor: pointer;
}

.authTab.active {
  text-decoration: underline;
}

.authForm {
  display: flex;
  gap: 0.5rem;
}
