.heroSection {
  background-color: var(--brand-primary);
  min-height: 100dvh;
  padding: 1rem;
}

.heroTitle {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--surface-main);
  font-size: clamp(3rem, 10vw, 10rem);
  padding-top: 4rem;
}
