.heroSection {
  min-height: 100dvh;
  position: relative;
  overflow: hidden;
  background-color: var(--brand-primary);

  padding: 0 1rem;
}

.heroTitle {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--surface-main);
  font-size: clamp(3rem, 10vw, 10rem);
  padding-top: 4rem;
}

.blob1 {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: var(--brand-accent);
  bottom: 400px;

  right: 100px;
  filter: blur(80px);
  transition:
    bottom 0.5s,
    width 0.5s,
    height 0.5s,
    filter 0.5s;
}

.blob2 {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: var(--surface-main);
  left: 100px;
  top: 500px;
  filter: blur(80px);
  transition:
    top 0.5s,
    width 0.5s,
    height 0.5s,
    filter 0.5s;
}

@media (max-width: 1350px) {
  .blob1 {
    bottom: 150px;
    width: 250px;
    height: 250px;
    filter: blur(50px);
  }

  .blob2 {
    top: 250px;
    width: 250px;
    height: 250px;
    filter: blur(50px);
  }

  .heroSection {
    height: auto;
    min-height: 60vh;
  }
}

.lineupLink {
  display: inline-block;
  background-color: var(--surface-main);
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  font-family: "Anton", sans-serif;
  color: var(--brand-primary);
  text-decoration: none;
  font-size: clamp(2rem, 5vw, 4rem);
  letter-spacing: 2px;
  width: fit-content;
  border-bottom: 2px solid transparent;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.lineupLink:hover {
  color: var(--surface-main);
  background-color: var(--brand-accent);
}
