.container {
  position: fixed;
  left: 50%;
  bottom: -1px;
  transform: translate(-50%, 100%);

  width: 100%;
  max-width: 600px;
  max-height: 50vh;

  background-color: var(--surface-main);
  border-radius: 2px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;

  transition: transform 0.3s ease;
  z-index: 99;
}

.toggleBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border: none;
  background-color: var(--brand-accent);
  color: var(--surface-main);
  opacity: 1;
  padding: 0.3rem 0.6rem;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 100;
}

.toggleBtn:hover {
  opacity: 0.8;
}

.toggleBtn svg {
  transition: transform 0.3s ease;
}

.toggleBtn.active svg {
  transform: rotate(180deg);
}

.container.active {
  transform: translate(-50%, 0);
}

.title {
  font-family: "Anton", sans-serif;
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-align: center;
  margin: 1rem 0;
}

.artistsGrid {
  overflow-y: auto;
  padding: 1rem 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  justify-content: center;
  gap: 1rem;
}

.artistCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.artistImage {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.artistName {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
}
