.container {
  margin-inline: auto;
  margin-top: 1rem;
  background-color: var(--surface-alt);
  color: var(--text-main);

  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: 1.3;
  padding: 1rem;
}
