.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  color: var(--surface-alt);

  background: transparent;
  z-index: 2000;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}

.navList {
  display: flex;

  gap: 1rem;
  font-weight: 300;
}
