.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: transparent;
  z-index: 2000;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 600;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem clamp(1rem, 1.5vw, 3rem);
}

.navList {
  display: flex;

  gap: clamp(0.5rem, 2vw, 2rem);
  font-weight: 300;
}

.light {
  color: var(--surface-alt);
}

.dark {
  color: var(--text-main);
}
