.dateGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: clamp(3rem, 10vw, 10rem);
  overflow: hidden;

  padding: 2rem 4rem;
}

.days {
  grid-column: 1 /-1;
  grid-row: 1;
  align-self: self-end;
  z-index: 999;
}

.days span {
  background-color: var(--surface-main);
  color: var(--brand-primary);
}

.month {
  grid-column: 2;
  grid-row: 2;
  padding: 0.5rem 1rem;
  align-self: self-start;

  z-index: 1000;
}

.month span {
  background-color: var(--brand-primary);
  color: var(--surface-main);
}

.yearPrefix {
  grid-column: 3;
  grid-row: 3;
  z-index: 1000;
  align-self: self-start;
}

.yearPrefix span {
  background-color: var(--surface-main);
  color: var(--brand-primary);
}

.yearSuffix {
  grid-column: 4;
  grid-row: 2;
  justify-self: start;
  z-index: 1000;
  align-self: self-start;
  justify-self: start;
}

.yearSuffix span {
  background-color: var(--brand-primary);
  color: var(--surface-main);
}
